<!-- Title -->
<h1 style=" background: wheat;
font-family: cursive;
font-style: italic;
text-align: center;">Angular Dashboard by Basim Wangde</h1>

<!-- Button to add new widgets -->
<button style="cursor: pointer;
margin-top: 20px;
margin-bottom: 20px;
width: 1000px;
height: 30px;
margin-left: 220px;
" (click)="addWidget()">Add Widget</button>

<!-- Placeholder to add new responsive widgets -->
<div style="height: 500px;">
  <div class="grid-stack">
  </div>
</div>